@font-face {
  font-family: fontName;
  src: url(/src/assets/Meta\ Serif\ Book.otf);
}

#root {
  font-family: fontName;
  position: relative;
}
p{
  color: #555555;
}
h2{
  color: #3a869c;
}
h3{
  color: #295e6e;
}
